.plane{
    transform:rotate(0deg) scale(0.2) translate(-500%,100%);
    &__move{
        animation: plane__move 9s  1s 1 forwards ease-in;
    }
}

@keyframes plane__move{
    0%{
        opacity: 0;
        transform:rotate(0deg) scale(0.2) translate(-400%,300%);
    }
    100%{
        opacity: 1;
        transform:rotate(-3deg) scale(1.2) translate(400%,-300%);
    }
}